/.Python
.*.sw?
*.bak
*.bak?
*.pyc
*.pyo
requirements.json
uplift_report.json
/gaia
/uplift-gaia
/gaia.git
/.gaia.cache.git
/bin
/lib
/include
cmds.log
api-calls.log
.scratch_*
.git_unit_test_scratch*
.bugs.pcl
/*.json
